

/* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */

.my-class {
  animation-name: red;
  animation-duration: 1s;
  animation-fill-mode:forwards;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  color: black;
}

@keyframes red{
  to {color: red;}
}

@keyframes example {
  from {background-image: url("https://th.bing.com/th/id/OIP.EhFgdU2ozfg7ZqLppSUNagHaEe?w=271&h=180&c=7&r=0&o=5&pid=1.7")}
  to {background-image: url("https://th.bing.com/th/id/OIP.KIC9PIbR9pVPV3NALmhR4wHaLH?w=123&h=184&c=7&r=0&o=5&pid=1.7")}
  
}

.background{
  width: 2000px;
  height: 2000px;
  background-image: url("https://th.bing.com/th/id/OIP.EhFgdU2ozfg7ZqLppSUNagHaEe?w=271&h=180&c=7&r=0&o=5&pid=1.7");
  animation-name: example;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  background-repeat:inherit;
}


table {
    margin-top: 100px;
    width:100%;
    text-align: left;
    background-color: #ddd;
    height: 400px;
    }

tr {
    border: 1px solid gray;

}


th, td {
    border: 1px solid grey;

}



.navbar {
overflow: hidden;
overflow-y: scroll;
background-color: #000000;
top: 0;
font-size: 26px;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-style:oblique;
}




/* Style the navigation bar links */
.navbar a {
float: left;
display: block;
color: red;
text-align: center;
flex-wrap: wrap;
padding: 20px;
padding-right: 130px;
text-decoration: white;
text-transform: uppercase;
}



/* Change color on hover */
.navbar a:hover {
background-color: #ff0000;
color: rgb(255, 255, 255);
}

.navbar a.active {
background-color: #080808;
color: rgb(255, 0, 0);
}

.footer {
padding: 20px;
text-align: center;
background: #000000;
color: #ff0000;
}

.footerc {
  margin-top: 530px;
  padding: 20px;
  text-align: center;
  background: #000000;
  color: #ff0000;
  }
  


.side {
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  background-color: #F1F1F1;
  padding: 20px;
}

/* Main column */
.main {
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: #424141;
  padding: 20px;
  color: #eee;
}

.textcol{

  color: #eee;
}

img {
  border: 4px solid #ffffff;
  border-radius: 20px;
  padding: 20px;
  width: 150px;
}

img:hover {
  box-shadow: 0 0 2px 5px rgb(255, 0, 0);
}

.links {
  padding-left: 13%;
  padding-right: 8%;
}


.tabs {
  position: relative;    
  clear: both;

}
.tab {
  float: left;
  margin-top: 75px;
}
.tab label {
  background: #eee; 
  padding: 5px; 
  border: 1px solid #ccc; 
  margin-left: 1px; 
  position: relative;
  left: 1px; 
  
}
.tab [type=radio] {
  display: none;   
}
.content {
  position: absolute;
  top: 0px;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  padding: 0px;
  border: 1px solid #ccc; 
  opacity:0;
  transition: opacity 400ms ease-out;
}
[type=radio]:checked ~ label { 
  background: white;
  border-bottom: 1px solid white;
  z-index: 2;
}
[type=radio]:checked ~ label ~ .content {
  z-index: 1;
  opacity: 1;
  transition: opacity 400ms ease-out;
}

